/*home section1 css AGBEKPONOU 301243260*/

.Section1-container{
    display: flex;
    align-items: center;
    position: relative;
}
.Section1-content{
    flex: 1;
}
.Section1-content h2{
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}
.Section1-content p{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.Section1-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.Section1-img > div{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.tech-icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border:1.5px solid #0D6E6E
}

.tech-icon img{
    width: 3rem;
    height: 0 auto;
    transition: all 0.3s ease;
}
.section1-img > div >img:hover,
.tech-icon img:hover{
    transform: translateY(-00.65rem);
}
.image img{
    width:25rem;
    height:25rem;
    transition: all 0.3s ease-in;
}
.image img:hover{
    transform: translateY(-00.65rem);
}
.image{
    border: solid 1px;
    border-radius: 10px 10px 10px 10px;
}
.btn{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 1rem;
}
.btn a{
    text-decoration-line: none;
}

@media (max-width: 1025px){
    .Section1-content h2{
        font-size: 3rem;
        line-height: 4rem;

    } 
    .Section1-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;

    }
    .image img{
        width: 20rem;
    }
    .tech-icon{
        width: 4rem;
        height: 4rem;
    }
    .tech-icon img{
        width: 2.5rem;
    }
}

@media (max-width:768px){

    .Section1-container{
        flex-direction: column;
    }
    .Section1-content h2{
        width: auto;
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 2rem;
        text-align: center;
    }
    .Section1-content p{
        width: auto;
        font-size: 0.9rem;
        line-height: 1.6rem;
        text-align: center;
    }
    .image img{
        width:  1.5rem 0 1.5rem 0;
        height: auto;
        
    }
    .image{
        margin-right: 2rem;
    }
    
    .Section1-container::after{
        top: 0rem;
        left: 0rem;
    }
    .Section1-container::before{
        bottom: 2rem;
        right: 0rem;
    }
    .btn{
        justify-content: center;
    }
    
}

@media (max-width:600px){

    
    .Section1-container h2{
        font-size: 2rem;
        line-height: 2rem;

    }
    .Section1-container p{
        font-size: 0.8rem;
    }
   
    .image img{
        width:12rem;
        height: auto;
    }
    .image{
        margin-top: -3rem;
    }
    .tech-icon{
        width: 2.5rem;
        height: 2.5rem;
    }
    .tech-icon img{
        width:1.5rem;
    }
   
}
